@font-face {
  font-family: "vazir";
  src: url("../public/vazir/Vazir-Bold-FD-WOL.woff"),
    url("../public/vazir/Vazir-Bold-FD-WOL.woff") format("woff"),
    url("../public/vazir/Vazir-Bold-FD-WOL.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --clr-primary: #092a66;
  --clr-primary-light: #194daf;
  --clr-grey-1: #2b2c2c;
  --clr-grey-5: #4f5052;
  --clr-grey-10: #939597;
  --clr-white: #fff;
  --ff-primary: "vazir", sans-serif;
  --radius: 0.5rem;
  --transition: all 0.5s linear;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  text-align: right;
  color: var(--clr-grey-1);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.img {
  display: block;
  width: 100vw;
}

h1{
  font-size: 1.75rem;
}
h2{
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

@media screen and (min-width:800px) {
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

.btn {
  background: var(--clr-primary);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  color: var(--clr-white);
  transition: var(--transition);
  display: inline-block;
}

.btn:hover {
  background: var(--clr-white);
  color: var(--clr-primary);
}

.clearFix::after, .clearFix::before {
  content: '';
  clear: both;
  display: block;
}

.section-center {
  padding: 2rem 0;
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and(min-width:992px) {
  .section-center{
    width: 95vw;
    padding: 4rem 1rem;
  }
}
